.App {
  text-align: center;
}

nav{
  border-radius: 10px;
  box-shadow: #767676 5px 5px 5px 5px;
  margin: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #7A93AC;
  color: white;
}


.nav-links{
  width: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}


.category {
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background:#7A93AC;
  align-items: center;
  min-width: 40%;
  
  box-shadow: #767676 5px 5px 5px 5px;
  border-radius: 3px;
  border-top: 1px solid rgb(222, 224, 227);
  cursor: pointer;
  display: flex;
  margin: 0px;
  padding: 12px 16px;
  position: relative;

}

.text {
  text-decoration: none;
  color: rgb(66, 61, 61);
}